<ion-header >
  <ion-toolbar color="primary">
    <ion-title>
      Biologi SD Kelas II
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 
 
 
    <img src ="./assets/icon/biolo.jpg"/>
    <ion-button expand="block" (click)="openMyVideo('kmwUz3YfMMI')">Watch Video</ion-button>
    <div class="Content">
    <h1>Anatomi Hewan</h1>
    <p>Pada pertemuan hari ini, Joseph akan membahas tentang bagaimana membagi dan 
      kurang dalam matematika sehari hari</p>
    </div>
    <div class="box">
        <ion-button fill="outline">
          <ion-icon name="heart" >Like</ion-icon>
        </ion-button>
        <ion-button fill="outline">
          <ion-icon name="md-share" fill="none"></ion-icon>
        </ion-button>
        <ion-button fill="outline">
          <ion-icon name="md-download" fill="none"></ion-icon>
        </ion-button>
    </div>

    <p>Recommended</p>
    <ion-card>
      <img src="./assets/icon/biolo.jpg" />
    <!--Untuk deskripsi foto yang diupload-->
    <ion-card-header> 
      <ion-card-subtitle>Matematika SD Kelas II</ion-card-subtitle>
      <ion-card-title>Tambah dan Kurang</ion-card-title>
    </ion-card-header>
      <ion-card-content>
        Pada pertemuan hari ini, Joseph akan membahas tentang bagaimana membagi dan 
        kurang dalam matematika sehari hari
      </ion-card-content> 
    </ion-card>

    <ion-card>
      <img src="./assets/icon/biolo.jpg" />
    <!--Untuk deskripsi foto yang diupload-->
    <ion-card-header> 
      <ion-card-subtitle>Matematika SD Kelas II</ion-card-subtitle>
      <ion-card-title>Tambah dan Kurang</ion-card-title>
    </ion-card-header>
      <ion-card-content>
        Pada pertemuan hari ini, Joseph akan membahas tentang bagaimana membagi dan 
        kurang dalam matematika sehari hari
      </ion-card-content> 
    </ion-card>
    
  
</ion-content>
