<ion-header>
  <!-- <ion-toolbar>
     <ion-title>Register</ion-title>
   </ion-toolbar>-->
 </ion-header>
 <ion-content padding class="bg">
  <div class="center">
    <br>
    <br>
    <br>
    <br>
    
   <img src ="./assets/icon/TLP02.png"/>
   <br>
   <br>
   <br>

   <ion-button shape="round" fill="solid" expand="block" color="light" (click)="goLogin()">Login</ion-button>
   <br>
   <ion-button shape="round" fill="outline" expand="block" color="light" (click)="goRegister()">Register</ion-button>
  </div>
 </ion-content>
 